<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | RedStore | Ecommerce Website Design{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.jpeg' %}" width="100%">
            </div>
            <div class="col-2">
                <h2>About Us</h2>
                <p>At RedStore, we are a premier e-commerce platform dedicated to offering a wide range of top-quality products at unbeatable prices. Our mission is to provide exceptional service and create an unparalleled shopping experience for our customers. We believe that everyone deserves access to the best products, and we strive to make that a reality.</p><br><br>
                <h2>Our Mission</h2>
                <p>Our mission is to empower customers by delivering an extensive selection of products, exceptional customer service, and a seamless shopping experience. We aim to be the go-to destination for all your shopping needs, ensuring satisfaction and trust in every transaction.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
