<!-- templates/products.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Products | RedStore | Ecommerce Website Design{% endblock %}

{% block content %}
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <form method="GET" action="{% url 'products' %}">
            <input type="text" name="search" value="{{ search }}" placeholder="Search for products...">
            <button type="submit" class="page-btn">Search</button>
        </form>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-4">
                <a href="{% url 'product_detail' product.id %}">
                <img src="{% static 'images/' %}{{ product.image_name }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>{{ product.cost }}</p></a>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
