<!-- templates/register.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Register | RedStore | Ecommerce Website Design{% endblock %}

{% block content %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container register">
                    <span>Register</span>
                    <hr id="Indicator">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" id="name" name="name" placeholder="UserName" required>
                        <input type="email" id="email" name="email" placeholder="E-mail" required>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
