<!-- templates/product_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ product.name }} | RedStore | Ecommerce Website Design{% endblock %}

{% block content %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ url_for('static', filename='images/' + product.image_name) }}" alt="{{ product.name }}">
        </div>
        <div class="col-2">
            <h1>{{ product.name }}</h1>
            <h4>{{ product.cost }}</h4>
            <form method="POST" action="{{ url_for('add_to_cart_view', product_id=product.id) }}">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit" class="page-btn">Add to Cart</button>
            </form>
            <h3>Product Details <i class="fa fa-indent"></i></h3><br>
            <p>{{ product.details }}</p><br>
            <ul><li>100% original product.</li></ul>
            <ul><li>Cash on Delivery is available on this product.</li></ul>
            <ul><li>Easy return and exchange policy within 7 Days.</li></ul>
        </div>
    </div>
</div>

<div class="small-container">
    <h2 class="title">Related Products</h2>
    <div class="row">
        {% for similar_product in similar_products %}
            <div class="col-4">
                <a href="{{ url_for('product_detail', product_id=similar_product.id) }}">
                    <img src="{{ url_for('static', filename='images/' + similar_product.image_name) }}" alt="{{ similar_product.name }}">
                    <h3>{{ similar_product.name }}</h3>
                    <p>{{ similar_product.cost }}</p>
                </a>
            </div>
            {% if loop.index % 4 == 0 and not loop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
